{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "Last 2 versions",
          "IE 11"
        ]
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [],
      "presets": ["node8"],
      "only": "index.js"
    }
  }
}
